.container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100%;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    margin: 0;
    padding: 4rem 0 0 0;
    overflow-y: auto;
    height: 55%;
}
.container1 img{
    width: 3em;
    height: 3rem;
    border-radius: 5rem;
    margin: 1rem;
} 
.container1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #1e293b;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 5rem;
    gap: 2rem;
    transition: .2s;
}
.container1:hover{
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: .2s;
}
.container1 p{
    font-size: 1.2rem;
    font-weight: 400;
}
.container2::-webkit-scrollbar {
    display: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    width: 40%;
}
.header img{
    width: 3em;
    height: 3rem;
    border-radius: 5rem;
    margin: 1rem;
}
.chat{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 98%;
    position: relative;
}
.send{
    width: max-content;
    height: max-content;
}
.send:hover{
    cursor: pointer;
}
.bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
}
.bar input{
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid #9d9797;
    padding: 1rem;
    font-size: 1.2rem;
}
.bar input:focus{
    outline: none;
    border: 2px solid #ffffff;
    content: none;
}
.layout{
    width: 60%;
    border-left:2px solid #67686a;
    padding: 2rem 2rem 0 2rem;
    height: 95%;
}
.bar button{
    background: black;
    border: none;
}
.chatSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30rem;
    overflow-y: auto;
}
.chatSection::-webkit-scrollbar {
    display: none;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 1rem;
    gap: 0;
    height: max-content;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    margin: 0;
    padding: 1rem;
    gap: 0;
    height: max-content;
}
.header3{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: .2rem;
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 40%;
    overflow: hidden;
}
.header3 img{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    margin: 1rem;
}
.header4{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: .2rem;
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 40%;
    overflow: hidden;
}
.header4 img{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    margin: 1rem;

}
@media (max-width: 1000px) {
    .chat{
        width: 100%;
    }
    .container1{
        width: 70%;
    }
    .layout{
        width: 90%;
    }
    .chatSection{
        height: 40rem;
    }
    .layout{
        border:0;
    }
}