.header{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    padding-top: 1rem;
    border-radius: 2rem;
}
.header img{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
}
.container{
    background-color: #000000;
    height: max-content;
    color: #e2e8f0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding:1rem;
    border-radius: 2rem;
}
.stats{
    display: flex;
    flex-direction:row;
    gap: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}
h2{
    margin: 0;
}
.stats p{
    margin: 1.2rem;
}
.stats h3{
    margin: 1rem;
}
.actions button{
    padding: 1rem;
    border-radius: 2rem;
    background-color: #bcbcbc;
    color: rgb(0, 0, 0);
    font-family: jost;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    width: 10rem;
    height: 4rem;
    transition: .2s;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.actions button:hover{
    background-color: #fbfbfb;
    border: none;
    transition: .2s;
}
.logout{
    padding: 1rem;
    border-radius: 2rem;
    background-color: #7f1d1d;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    width: 6rem;
    height: 4rem;
    transition: .2s;
}
.logout:hover{
    background-color: #b91c1c;
    transition: .2s;
}
.name{
    display: flex;
    flex-direction: column;
}
.data{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.data h2{
    width: max-content;
}
.data img{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
}
.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    padding-top: 1rem;
    width: 100%;
    height: 70rem;
}
.effect{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    gap: .5rem;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.scroll{
    gap: 1rem;
    overflow: auto;
    border-radius: 2rem;
    height: 70rem;
    z-index: 1;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.scroll1{
    gap: 1rem;
    overflow: auto;
    border-radius: 2rem;
    height: 50rem;
    width: 100%;
    z-index: 1;
}
.scroll1::-webkit-scrollbar{
    display: none;
}
.addpost {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    border-radius: 2rem;
    transition: 0.2s;
    width: max-content;
    font-size: 1.5rem;
    font-family: jost;
    font-weight: 600;
    transition: 0.2s;
    border: 0;
    color: #000000;
    background-color: #bcbcbc;
  }
  .addpost:hover {
      animation: none;
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;
  }

@media (max-width: 768px){
    .effect{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 10rem;
    }
    .header{
        gap: .5rem;
    }
}