.app {
  display: grid;
  grid-template-columns: 25% 75%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  align-items: start;
  z-index: 1;
  position: absolute;
  top: 0;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed {
  z-index: -1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: auto;
}


.feed{
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
}

.feed::-webkit-scrollbar {
  display: none;
}
.container {
  height: 100%;
  /* background-color: #14171A; */
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.loading{
  width: 100%;
  height: 100%;
  transition: 1s;
  background-color: white;
  color: #000000;
  font-family: michroma;
  font-weight: 900;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 5;
}
.loadingHide{
  position: relative;
  height: 0;
  z-index: 5;
  transition: 1s;
  background-color: white;
  color: #000000;
  font-family: michroma;
  overflow: hidden;
  font-weight: 900;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  display: none;
}
.contract {
  display: none;
}
.menudiv {
  display: none;
}
@media (max-width: 1000px) {
  .visible {
    display: none;
  }
  .app{
    grid-template-columns: 100%;
  }
  .menu {
    display: block;
    width: 3rem;
    height: 2.5rem;
    color: #a4a4a4;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: max-content;
    width: 25rem;
    position: absolute;
    left: 0;
    gap: 0rem;
    overflow: hidden;
    padding-left: 1rem;
    transition: 0.5s;
    background-color: black;
    z-index: 6;
    padding-bottom: 1rem;
  }
  .navbar p {
    text-align: left;
  }
  .contract {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    width: 0;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 6;
    padding-top: 2rem;
  }
  .menudiv {
    display: block;
    position: absolute;
    left: 8%;
    z-index: 5;
  }
  .crosscr {
    rotate: 90deg;
    transition: 0.5s;
    margin-top: 2.5rem;
  }
  .crossar {
    rotate: -90deg;
    transition: 0.5s;
    margin-top: 2.5rem;
    width: 2rem;
  }
  .scroll{
    width: 100%;
    height: max-content;
  }
  .container{
    height: 80%;
  }
}
